{% extends 'main.html' %}

{% block content %}
    <div id="title" class="mt-5">
        <h1>Bienvenue sur le site de l'infirmerie</h1>
        <h1>de l'Abbaye Saint-Joseph de Clairval !</h1>
    </div>

    <div id="notifications">
        <h1 class="text-center">Notifications</h1>

        <!-- Notifications dentiste -->
        <h4 class="text-left">Rendez-vous dentiste :</h4>
        <div class="notifications">
            <ul>
                {% for moine in moines_dentiste %}
                    <li>
                        {{ moine }} (dernier rendez-vous : {{ moine.date_dentiste }})
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
