{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Médecins</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex align-self-stretch">
        <!-- Title -->
        <div id="title" class="form-inline">
            <h1>Médecins</h1>
            <a href={% url 'toubibs:create' %}><p class="mr-auto" title="Ajouter un médecin"><span class="fas fa-plus-circle"></p></a>
            <a href={% url 'toubibs:repertoire' 'A' %} title="Switch to répertoire view" class="ml-2">A</a>
        </div>

        <!-- Tools -->
        <div id="tools" class="d-flex align-items-center ml-auto">
            <!-- Search -->
            <div id="search" class="input-group">
                <input type="text" id="search_input" class="form-control" placeholder="Rechercher" autofocus>
                <span id="search_toubibs_go" class="fas fa-search mt-1"></span>
            </div>

            <!-- Pagination --><!-- TODO: Formatting bug. -->
            <div class="ml-auto">{% include 'pagination.html' %}</div>
        </div>
    </div>

    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>Médecin</th>
                <th>Spécialité</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Mail</th>
            </tr>
        </thead>

        <tbody>
            {% for toubib in object_list %}
                <tr>
                    <td><a href={% url 'toubibs:detail' toubib.id %}><b>{{ toubib }}<b></a></td>
                    <td>{{ toubib.speciality }}</td>
                    <td>{{ toubib.adresse_complete }}</td>
                    <td>{{ toubib.telephone }}</td>
                    <td>{{ toubib.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
