{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Toubibs</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex align-self-stretch">
        <h1 class="mr-auto">Toubibs</h1>
        <div class="ml-auto">{% include 'pagination.html' %}</div>
    </div>

    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>Toubib</th>
                <th>Spécialité</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Mail</th>
            </tr>
        </thead>

        <tbody>
            {% for toubib in object_list %}
                <tr>
                    <td><a href={% url 'toubibs:detail' toubib.id %}>{{ toubib }}</a></td>
                    <td>{{ toubib.specialite }}</td>
                    <td>{{ toubib.adresse_complete }}</td>
                    <td>{{ toubib.telephone }}</td>
                    <td>{{ toubib.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}