{% extends 'main.html' %}

{% block content %}
    <div class="d-flex align-self-stretch">
        <div class="form-inline">
            <h1 class="mr-auto">Agenda</h1>
            <a href={% url 'billets:create' %}><p class="mr-auto" title="Ajouter un billet"><span class="fas fa-plus-circle"></span></p></a>
        </div>
    </div>

    <div id="agenda" class="d-flex justify-content-center align-items-center">
        <table>
            <tr id="weekdays">
                <td class="weekday">Dimanche</td>
                <td class="weekday">Lundi</td>
                <td class="weekday">Mardi</td>
                <td class="weekday">Mercredi</td>
                <td class="weekday">Jeudi</td>
                <td class="weekday">Vendredi</td>
                <td class="weekday">Samedi</td>
            </tr>

            <tr>
                {% for date, data in days.items %}
                    <td>
                        <div class="d-flex flex-column justify-content-start align-items-center">
                            <div class="date">{{ date }}</div>
                            <div class="column_data d-flex flex-column justify-content-start align-items-center">
                                {% for billet in data %}
                                    <a href={% url 'billets:detail' billet.id %}>
                                        <div class="rendez_vous">
                                            {{ billet.when|date:"H:i" }}
                                            {{ billet.titre }}
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </td>
{% endblock content %}