{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Agenda</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex align-self-stretch">
        <h1 class="mr-auto">Agenda</h1>
    </div>

    <div id="agenda" class="d-flex justify-content-center align-items-center">
        <table>
            <tr>
                <td>Dimanche</td>
                <td>Lundi</td>
                <td>Mardi</td>
                <td>Mercredi</td>
                <td>Jeudi</td>
                <td>Vendredi</td>
                <td>Samedi</td>
            </tr>

            <tr>
                {% for date, content in days.items %}
                    <td>
                        {{ date }}</br>
                        {{ content }}
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock content %}