{% extends 'main.html' %}

{% block content %}
    <div class="d-flex align-self-stretch">
        <h1 class="mr-auto">Billets</h1>
        <div class="ml-auto">{% include 'pagination.html' %}</div>
    </div>

    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>Date</th>
                <th>Moine</th>
                <th>Toubib</th>
            </tr>
        </thead>

        <tbody>
            {% for billet in object_list %}
                <tr>
                    <td><a href="{% url 'billets:detail' billet.id %}">{{ billet.datetime|date:"d/m/Y" }} à {{ billet.datetime|time:'H:i:s' }}</a></td>
                    <td>{{ billet.moine }}</td>
                    <td>{{ billet.toubib }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}