{% extends 'main.html' %}

{% load tz %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'billets:agenda' 1 %}">Agenda</a></li>
    <li class="breadcrumb-item active">{{ billet }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1>{{ billet }}</h1>
    <h4>{{ billet.date_time }}</h4>

    <div class="d-flex flex-column align-items-start">
        {% localtime on %}
            <small>Créé le : {{ billet.created_at|date:"d/m/Y" }} à {{ billet.created_at|time:"H:i:s" }}</small>
            <small>Dernière modification le : {{ billet.last_modified|date:"d/m/Y" }} à {{ billet.last_modified|time:"H:i:s" }}</small>
        {% endlocaltime %}
    </div>

    <div class="block row justify-content-center mt-3 mb-2">
        <table class="table table-borderless my-0">
            <tr>
                <td><label>Moine :</label></td><td>{{ billet.moine }}</td>
            </tr>
            <tr>
                <td><label>Toubib :</label></td><td>{{ billet.toubib }}</td>
            </tr>
        </table>
    </div>

    <div class="d-flex justify-content-center">
        <a href="{% url 'billets:delete' billet.id %}"><button class="btn btn-danger">Supprimer</button></a>
        <a href="{% url 'billets:update' billet.id %}"><button class="btn btn-primary">Modifier</button></a>
    </div>
    
    <a href="{% url 'billets:pdf' billet.id %}"><button class="btn btn-dark" style="margin: 20px;"><span class="fas fa-print" style="margin-right: 10px;"></span>Imprimer le billet</button></a>
    <a href="{% url 'billets:agenda' 1 %}"><button class="btn btn-success">Retour à l'agenda</button></a>

{% endblock content %}