{% extends "main.html" %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'billets:agenda' 1 %}">Agenda</a></li>
    {% if object %}
        <li class="breadcrumb-item"><a href="{% url "billets:detail" billet.id %}">{{ billet }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {% if object %}
        <h1>Modifier {{ billet }}</h1>
    {% else %}
        <h1>Créer un nouveau billet</h1>
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}

        <div class="block">
            <div class='form-group'>
                {{ form.when.label_tag }}
                {% if form.is_bound %}
                    {% if form.when.errors %}
                        {% render_field form.when class='is-invalid' %}
                        {% for error in form.when.errors %}
                            <div class='invalid-feedback' style='display: block;'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.when class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.when %}
                {% endif %}
                {% if form.when.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.when.help_text }}
                    </small>
                {% endif %}
            </div>

            <div class="form-group">
                <div class='form-group'>
                    {{ form.moine.label_tag }}
                    {% if form.is_bound %}
                        {% if form.moine.errors %}
                            {% render_field form.moine class='is-invalid' %}
                            {% for error in form.moine.errors %}
                                <div class='invalid-feedback' style='display: block;'>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.moine class='is-valid' %}
                        {% endif %}
                    {% else %}
                        {% render_field form.moine %}
                    {% endif %}
                    {% if form.moine.help_text %}
                        <small class='form-text text-muted'>
                            {{ form.moine.help_text }}
                        </small>
                    {% endif %}
                </div>
            </div>

            <div class='form-group'>
                {{ form.toubib.label_tag }}
                {% if form.is_bound %}
                    {% if form.toubib.errors %}
                        {% render_field form.when class='is-invalid' %}
                        {% for error in form.toubib.errors %}
                            <div class='invalid-feedback' style='display: block;'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.toubib class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.toubib %}
                {% endif %}
                {% if form.toubib.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.toubib.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a href="{% url 'billets:agenda' 1 %}" class="btn btn-primary mx-3">Annuler</a>
            <button type="submit" class="btn btn-success mx-3">Valider</button>
        </div>
    </form>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/moment-timezone-with-data.js' %}"></script>
    <script src="{% static 'js/moment-locale-fr.js' %}"></script>
    <script src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>
{% endblock javascript %}
