{% extends 'main.html' %}

{% load tz %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'moines:list' %}>Moines</a></li>
    <li class="breadcrumb-item active">{{ moine }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1>{{ moine }}</h1>
    <h4>{{ moine.prenom_civil }} {{ moine.nom_civil }}</h4>

    <div class="d-flex flex-column align-items-start">
        {% localtime on %}
            <small>Créé le : {{ moine.created_at|date:"d/m/Y" }} à {{ moine.created_at|time:"H:i:s" }}</small>
            <small>Dernière modification le : {{ moine.last_modified|date:"d/m/Y" }} à {{ moine.last_modified|time:"H:i:s" }}</small>
        {% endlocaltime %}
    </div>

    <div id="logos_detail" class="d-flex justify-content-center">
        <a href={% url 'moines:list' %}><span class="fas fa-reply" title="Retour à la liste"></span></a>
        <a href={% url 'moines:update' moine.id %}><span class="fas fa-edit" title="Modifier ce moine"></span></a>
        <a href={% url 'moines:delete' moine.id %}><span class="fas fa-trash-alt" title="Supprimer ce moine"></span></a>
    </div>

    <div class="block row justify-content-center mt-3 mb-2">
        <table class="table table-borderless my-0">
            <tr>
                <td><label>Peut conduire :</label></td><td>{{ moine.is_chauffeur|yesno:'Oui,Non' }}</td>
            </tr>
            <tr>
                <td><label>Médecin traitant :</label></td><td>{{ moine.medecin_traitant|default_if_none:'' }}</td>
            </tr>
            <tr>
                <td><label>Dentiste :</label></td><td>{{ moine.dentiste|default_if_none:'' }}</td>
            </tr>
            <tr>
                <td><label>Date de naissance :</label></td><td>{{ moine.date_naissance|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <td><label>Numéro de sécu :</label></td><td>{{ moine.numero_secu|default_if_none:'' }}</td>
            </tr>
            <tr>
                <td><label>Vaccin :</label></td><td>{{ moine.date_vaccin|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <td><label>Dentiste :</label></td><td>{{ moine.date_dentiste|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <td><label>Ophtalmo :</label></td><td>{{ moine.date_ophtalmo|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <td><label>Don du sang :</label></td><td>{{ moine.date_don_sang|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <td><label>Prostate :</label></td><td>{{ moine.date_prostate|date:"d/m/Y" }}</td>
            </tr>
            <tr>
                <td><label>Hémocult :</label></td><td>{{ moine.date_hemocult|date:"d/m/Y" }}</td>
            </tr>
        </table>
    </div>
{% endblock content %}