{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'moines:list' 1 %}">Moines</a></li>
    <li class="breadcrumb-item active">{{ moine }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1>{{ moine }}</h1>
    <h4>{{ moine.prenom_civil }} {{ moine.nom_civil }}</h4>

    <div class="d-flex flex-column align-items-start">
        <small>Créé le : {{ moine.created_at }}</small>
        <small>Dernière modification le : {{ moine.last_modified }}</small>
    </div>

    <div class="block row justify-content-center mt-3 mb-2">
        <table class="table table-borderless my-0">
            <tr>
                <td><label>Date de naissance :</label></td><td>{{ moine.date_naissance }}</td>
            </tr>
            <tr>
                <td><label>Vaccin :</label></td><td>{{ moine.date_vaccin }}</td>
            </tr>
            <tr>
                <td><label>Dentiste :</label></td><td>{{ moine.date_dentiste }}</td>
            </tr>
        </table>
    </div>

    <div class="d-flex justify-content-center">
        <a href="{% url 'moines:delete' moine.id %}"<button class="btn btn-danger">Supprimer</button></a>
        <a href="{% url 'moines:update' moine.id %}"><button class="btn btn-primary">Modifier</button></a>
    </div>
{% endblock content %}