{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'moines:list' %}">Moines</a></li>
    <li class="breadcrumb-item active">{{ moine }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <h1>{{ moine }}</h1>
    <h4>{{ moine.prenom_civil }} {{ moine.nom_civil }}</h4>

    <p>Date de naissance : {{ moine.date_naissance }}</p>
    <p>Vaccin : date</p>
    <p>Dentiste : date</p>

    <a href="{% url 'moines:update' moine.id %}"><button class="btn btn-primary">Éditer ce moine</button></a>
{% endblock content %}