{% extends "main.html" %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'moines:list' 1 %}">Moines</a></li>
    {% if object %}
        <li class="breadcrumb-item"><a href="{% url "moines:detail" moine.id %}">{{ moine }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {% if object %}
        <h1>Modifier {{ moine }}</h1>
    {% else %}
        <h1>Créer un nouveau moine</h1>
    {% endif %}

    <div class="col-5">

        <form method="post" novalidate>
            {% csrf_token %}

            <!-- Qualité -->
            <div class="form-group">
                {{ form.titre.label_tag }}
                {% if form.is_bound %}
                    {% if form.titre.errors %}
                        {% render_field form.titre class="custom-select form-control is-invalid" %}
                        {% for error in form.titre.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.titre class="custom-select form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.titre class="custom-select form-control" %}
                {% endif %}
                
                {% if form.titre.help_text %}
                    <small class="form-text text-muted">
                        {{ form.titre.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Nom religieux -->
            <div class="form-group">
                {{ form.nom_religieux.label_tag }}
                {% if form.is_bound %}
                    {% if form.nom_religieux.errors %}
                        {% render_field form.nom_religieux class="form-control is-invalid" %}
                        {% for error in form.nom_religieux.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.nom_religieux class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.nom_religieux class="form-control" %}
                {% endif %}
                {% if form.nom_religieux.help_text %}
                    <small class="form-text text-muted">
                        {{ form.nom_religieux.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Prénom civil -->
            <div class="form-group">
                {{ form.prenom_civil.label_tag }}
                {% if form.is_bound %}
                    {% if form.prenom_civil.errors %}
                        {% render_field form.prenom_civil class="form-control is-invalid" %}
                        {% for error in form.prenom_civil.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.prenom_civil class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.prenom_civil class="form-control" %}
                {% endif %}
                {% if form.prenom_civil.help_text %}
                    <small class="form-text text-muted">
                        {{ form.prenom_civil.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Nom civil -->
            <div class="form-group">
                {{ form.nom_civil.label_tag }}
                {% if form.is_bound %}
                    {% if form.nom_civil.errors %}
                        {% render_field form.nom_civil class="form-control is-invalid" %}
                        {% for error in form.nom_civil.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.nom_civil class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.nom_civil class="form-control" %}
                {% endif %}
                {% if form.nom_civil.help_text %}
                    <small class="form-text text-muted">
                        {{ form.nom_civil.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Date de naissance -->
            <div class='form-group'>
                {{ form.date_naissance.label_tag }}
                {% if form.is_bound %}
                    {% if form.date_naissance.errors %}
                        {% render_field form.date_naissance class='is-invalid' %}
                        {% for error in form.date_naissance.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date_naissance class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.date_naissance class="form-control" %}
                {% endif %}
                {% if form.date_naissance.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.date_naissance.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Médecin traitant -->
            <div class="form-group">
                {{ form.medecin_traitant.label_tag }}
                {% if form.is_bound %}
                    {% if form.medecin_traitant.errors %}
                        {% render_field form.medecin_traitant class="custom-select form-control is-invalid" %}
                        {% for error in form.medecin_traitant.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.medecin_traitant class="custom-select form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.medecin_traitant class="custom-select form-control" %}
                {% endif %}
                {% if form.medecin_traitant.help_text %}
                    <small class="form-text text-muted">
                        {{ form.medecin_traitant.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Dentiste -->
            <div class="form-group">
                {{ form.dentiste.label_tag }}
                {% if form.is_bound %}
                    {% if form.dentiste.errors %}
                        {% render_field form.dentiste class="form-control is-invalid" %}
                        {% for error in form.dentiste.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.dentiste class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.dentiste class="form-control" %}
                {% endif %}
                {% if form.dentiste.help_text %}
                    <small class="form-text text-muted">
                        {{ form.dentiste.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Date du dernier vaccin -->
            <div class='form-group'>
                {{ form.date_vaccin.label_tag }}
                {% if form.is_bound %}
                    {% if form.date_vaccin.errors %}
                        {% render_field form.date_vaccin class='is-invalid' %}
                        {% for error in form.date_vaccin.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date_vaccin class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.date_vaccin class="form-control" %}
                {% endif %}
                {% if form.date_vaccin.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.date_vaccin.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Date du dernier rendez-vous chez le dentiste -->
            <div class='form-group'>
                {{ form.date_dentiste.label_tag }}
                {% if form.is_bound %}
                    {% if form.date_dentiste.errors %}
                        {% render_field form.date_dentiste class='is-invalid' %}
                        {% for error in form.date_dentiste.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date_dentiste class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.date_dentiste class="form-control" %}
                {% endif %}
                {% if form.date_dentiste.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.date_dentiste.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Date du dernier rendez-vous chez l'ophtalmo -->
            <div class="form-group">
                {{ form.date_ophtalmo.label_tag }}
                {% if form.is_bound %}
                    {% if form.date_ophtalmo.errors %}
                        {% render_field form.date_ophtalmo class="form-control is-invalid" %}
                        {% for error in form.date_ophtalmo.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date_ophtalmo class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.date_ophtalmo class="form-control" %}
                {% endif %}
                {% if form.date_ophtalmo.help_text %}
                    <small class="form-text text-muted">
                        {{ form.date_ophtalmo.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Date du dernier don du sang -->
            <div class="form-group">
                {{ form.date_don_sang.label_tag }}
                {% if form.is_bound %}
                    {% if form.date_don_sang.errors %}
                        {% render_field form.date_don_sang class="form-control is-invalid" %}
                        {% for error in form.date_don_sang.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date_don_sang class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.date_don_sang class="form-control" %}
                {% endif %}
                {% if form.date_don_sang.help_text %}
                    <small class="form-text text-muted">
                        {{ form.date_don_sang.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Date du dernier examen prostate -->
            <div class="form-group">
                {{ form.date_prostate.label_tag }}
                {% if form.is_bound %}
                    {% if form.date_prostate.errors %}
                        {% render_field form.date_prostate class="form-control is-invalid" %}
                        {% for error in form.date_prostate.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date_prostate class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.date_prostate class="form-control" %}
                {% endif %}
                {% if form.date_prostate.help_text %}
                    <small class="form-text text-muted">
                        {{ form.date_prostate.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Date du dernier examen hémocult -->
            <div class="form-group">
                {{ form.date_hemocult.label_tag }}
                {% if form.is_bound %}
                    {% if form.date_hemocult.errors %}
                        {% render_field form.date_hemocult class="form-control is-invalid" %}
                        {% for error in form.date_hemocult.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date_hemocult class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.date_hemocult class="form-control" %}
                {% endif %}
                {% if form.date_hemocult.help_text %}
                    <small class="form-text text-muted">
                        {{ form.date_hemocult.help_text }}
                    </small>
                {% endif %}
            </div>

            <div class="d-flex justify-content-center">
                <a href="{% url 'moines:list' 1 %}" class="btn btn-primary mx-3">Annuler</a>
                <button type="submit" class="btn btn-success mx-3">Valider</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/moment-locale-fr.js' %}"></script>
    <script src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>
{% endblock javascript %}
