{% extends "main.html" %}

{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}">
{% endblock css %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'moines:list' 1 %}">Moines</a></li>
    {% if object %}
        <li class="breadcrumb-item"><a href="{% url "moines:detail" moine.id %}">{{ moine }}</a></li>
        <li class="breadcrumb-item active">Modifier</li>
    {% else %}
        <li class="breadcrumb-item active">Créer</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {% if object %}
        <h1>Modifier {{ moine }}</h1>
    {% else %}
        <h1>Créer un nouveau moine</h1>
    {% endif %}

    <form method="post" novalidate>
        {% csrf_token %}
        
        <div class="block">
            <!-- Qualité -->
            <div class="form-group">
                {{ form.titre.label_tag }}
                {% if form.is_bound %}
                    {% if form.titre.errors %}
                        {% render_field form.titre class="custom-select form-control is-invalid" %}
                        {% for error in form.titre.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.titre class="custom-select form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.titre class="custom-select form-control" %}
                {% endif %}
                
                {% if form.titre.help_text %}
                    <small class="form-text text-muted">
                        {{ form.titre.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Nom religieux -->
            <div class="form-group">
                {{ form.nom_religieux.label_tag }}
                {% if form.is_bound %}
                    {% if form.nom_religieux.errors %}
                        {% render_field form.nom_religieux class="form-control is-invalid" %}
                        {% for error in form.nom_religieux.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.nom_religieux class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.nom_religieux class="form-control" %}
                {% endif %}
                {% if form.nom_religieux.help_text %}
                    <small class="form-text text-muted">
                        {{ form.nom_religieux.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Prénom civil -->
            <div class="form-group">
                {{ form.prenom_civil.label_tag }}
                {% if form.is_bound %}
                    {% if form.prenom_civil.errors %}
                        {% render_field form.prenom_civil class="form-control is-invalid" %}
                        {% for error in form.prenom_civil.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.prenom_civil class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.prenom_civil class="form-control" %}
                {% endif %}
                {% if form.prenom_civil.help_text %}
                    <small class="form-text text-muted">
                        {{ form.prenom_civil.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Nom civil -->
            <div class="form-group">
                {{ form.nom_civil.label_tag }}
                {% if form.is_bound %}
                    {% if form.nom_civil.errors %}
                        {% render_field form.nom_civil class="form-control is-invalid" %}
                        {% for error in form.nom_civil.errors %}
                            <div class="invalid-feedback d-block">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.nom_civil class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field form.nom_civil class="form-control" %}
                {% endif %}
                {% if form.nom_civil.help_text %}
                    <small class="form-text text-muted">
                        {{ form.nom_civil.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Date de naissance -->
            <div class='form-group'>
                {{ form.date_naissance.label_tag }}
                {% if form.is_bound %}
                    {% if form.date_naissance.errors %}
                        {% render_field form.date_naissance class='is-invalid' %}
                        {% for error in form.date_naissance.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date_naissance class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.date_naissance class="form-control" %}
                {% endif %}
                {% if form.date_naissance.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.date_naissance.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Date du dernier vaccin -->
            <div class='form-group'>
                {{ form.date_vaccin.label_tag }}
                {% if form.is_bound %}
                    {% if form.date_vaccin.errors %}
                        {% render_field form.date_vaccin class='is-invalid' %}
                        {% for error in form.date_vaccin.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date_vaccin class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.date_vaccin class="form-control" %}
                {% endif %}
                {% if form.date_vaccin.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.date_vaccin.help_text }}
                    </small>
                {% endif %}
            </div>

            <!-- Date du dernier rendez-vous chez le dentiste -->
            <div class='form-group'>
                {{ form.date_dentiste.label_tag }}
                {% if form.is_bound %}
                    {% if form.date_dentiste.errors %}
                        {% render_field form.date_dentiste class='is-invalid' %}
                        {% for error in form.date_dentiste.errors %}
                            <div class='invalid-feedback d-block'>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field form.date_dentiste class='is-valid' %}
                    {% endif %}
                {% else %}
                    {% render_field form.date_dentiste class="form-control" %}
                {% endif %}
                {% if form.date_dentiste.help_text %}
                    <small class='form-text text-muted'>
                        {{ form.date_dentiste.help_text }}
                    </small>
                {% endif %}
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a href="{% url 'moines:list' 1 %}" class="btn btn-primary mx-3">Annuler</a>
            <button type="submit" class="btn btn-success mx-3">Valider</button>
        </div>
    </form>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/moment-locale-fr.js' %}"></script>
    <script src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>
{% endblock javascript %}
