{% extends 'main.html' %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Moines</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex align-self-stretch">
        <h1 class="mr-auto">Moines</h1>
    </div>

    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>Moine</th>
                <th>Naissance</th>
                <th>Vaccin</th>
                <th>Dentiste</th>
            </tr>
        </thead>

        <tbody>
            {% for moine in object_list %}
                <tr>
                    <td><a href={% url 'moines:detail' moine.id %}>{{ moine }} {% if moine.civil != '' %}[{{ moine.civil }}]{% endif %}</a></td>
                    <td>{{ moine.date_naissance|date:"d/m/Y"|default_if_none:"" }}</td>
                    <td>{{ moine.date_vaccin|date:"d/m/Y"|default_if_none:"" }}</td>
                    <td>{{ moine.date_dentiste|date:"d/m/Y"|default_if_none:"" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}