@darkgrey: rgb(61, 61, 61);
@full-red: rgb(255, 0, 0);
@green: rgb(0, 100, 0);
@grey: rgb(182, 182, 182);
@orange: rgb(255, 145, 0);

body {
    #title {
        h1 {
            color: @green;
            font-family: "LucidaHW";
            margin: 0px 10px 20px 10px;
        }

        p {
            margin: 0px 0px 40px 8px;
        }
    }

    // Nav:
    nav {
        #logo {
            img {
                width: 50px;
            }

            p {
                color: @orange;
                font-family: LucidaHW;
                font-size: 1.3em;
            }
        }

        a {
            font-size: 1.5em;
        }
    }

    // Links:
    a:hover {
        text-decoration: none;
    }

    .fa-plus-circle {
        color: @green;
    }

    nav a,
    nav a:hover {
        color: @grey;
    }

    // Breadcrumbs:
    .breadcrumb {
        padding: 5px 0px 5px 50px;
    }

    // Agenda:
    #agenda {
        text-align: center;
        width: 100%;

        table {
            width: 100%;

            tr,
            td {
                margin: 0px;
                padding: 0px;
                vertical-align: top;
            }

            .weekday,
            .date,
            .current_weekday,
            .current_date {
                background-color: @grey;
                color: @green;
                font-weight: bold;
                width: 100%;
            }

            .current_weekday,
            .current_date {
                color: @full-red;
            }

            .column_data {
                width: 100%;

                a,
                .rendez_vous {
                    background-color: rgb(0, 100, 0);
                    border-radius: 3px;
                    color: white;
                    font-family: fantasy;
                    font-size: 8pt;
                    margin: 0px 0px 2px 0px;
                    padding: 1px 3px 1px 3px;
                    text-align: left;
                    width: 80%;
                }
            }
        }

    }

    // Tables:
    .table-borderless td {
        border: 0px;
    }

    // Detail and form:
    input[type='checkbox'] {
        margin: 0px 5px 0px 0px;
        width: auto;
    }

    label {
        color: @green;
        font-weight: bold;
        margin: 0px 5px 0px 0px;
    }

    small {
        text-align: right;
    }

    .block {
        border: 1px solid grey;
        border-radius: 5px;
        margin: 10px 0px 10px 0px;
        padding: 10px;
    }

    #logos_detail {
        font-size: 1.2em;

        .fas {
            margin: 15px 10px 5px 10px;
        }

        .fa-reply {
            color: @darkgrey;
        }

        .fa-edit {
            color: @green;
        }

        .fa-file-pdf {
            color: @full-red;
        }

        .fa-trash-alt {
            color: @full-red;
        }
    }
}