@blue_bootstrap: rgba(0, 123, 255);
@green: rgb(0, 100, 0);
@orange: rgb(255, 145, 0);
@red: rgb(200, 0, 0);

body {
    h1 {
        color: @green;
    }

    // Nav:
    nav {
        #logo {
            img {
                width: 50px;
            }

            p {
                color: @orange;
                font-family: LucidaHW;
                font-size: 2em;
            }
        }

        #menu {
            font-size: 1.3em;

            .link_plus {
                color: whitesmoke;
                margin: 0px 5px 10px -10px;
            }
        }
    }

    // Links:
    a:hover {
        text-decoration: none;
    }

    nav a {
        color: @orange;
    }

    // Tables:
    .table-borderless td {
        border: 0px;
    }

    // Detail and form:
    label {
        color: @green;
        font-weight: bold;
        margin: 0px 5px 0px 0px;
        min-width: 150px;
    }

    small {
        text-align: right;
    }

    .block {
        border: 1px solid grey;
        border-radius: 5px;
        margin: 10px 0px 10px 0px;
        padding: 10px;
    }

    // Buttons:
    .btn {
        margin: 0px 5px 0px 5px;
        width: 120px;
    }

    .btn-danger {
        background-color: @red;
        border-color: @red;
    }

    .btn-success {
        background-color: @green;
        border-color: @green;
    }
}